<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KrazyKreatures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30AD94851CEE40D000152B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30AD949D1CEE40D100152B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30AD94A81CEE40D100152B90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
